<form>
	<div>
		<span class="word">Quero</span>
		<select class="word" name="sport" id="" required="" tabindex="-1">
                  <option value="sport.names.all" selected="">Todos os Esportes</option>
                  <option value="sport.names.basketball">Basquete</option>
                  <option value="sport.names.capoeira">Capoeira</option>
                  <option value="sport.names.cycling">Ciclismo</option>
                  <option value="sport.names.running">Corrida</option>
                  <option value="sport.names.dance">Dança</option>
                  <option value="sport.names.fitness">Fitness</option>
                  <option value="sport.names.soccer">Futebol</option>
                  <option value="sport.names.footvolley">Futvôlei</option>
                  <option value="sport.names.handball">Handebol</option>
                  <option value="sport.names.hockey">Hockey</option>
                  <option value="sport.names.jiu_jitsu">Jiu-jítsu</option>
                  <option value="sport.names.judo">Judô</option>
                  <option value="sport.names.le_parkour">Le parkour</option>
                  <option value="sport.names.swimming">Natação</option>
                  <option value="sport.names.rollerblading">Patins</option>
                  <option value="sport.names.water_polo">Pólo aquático</option>
                  <option value="sport.names.canyoneering">Rapel</option>
                  <option value="sport.names.rugby">Rugby</option>
                  <option value="sport.names.skating">Skate</option>
                  <option value="sport.names.slackline">Slackline</option>
                  <option value="sport.names.stand_up_paddle">Stand up paddle</option>
                  <option value="sport.names.surf">Surfe</option>
                  <option value="sport.names.cricket">Taco</option>
                  <option value="sport.names.tai_chi">Tai chi chuan</option>
                  <option value="sport.names.tennis">Tênis</option>
                  <option value="sport.names.volleyball">Vôlei</option>
                  <option value="sport.names.yoga">Yoga</option>
            </select>
            <br>
		<span class="word">Em</span>
		<input class="word">
            <br>
		<button class="">Encontre ou crie uma atividade esportiva</button>
	</div>
</form>
