/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar{
	margin-top: 20px;
}

.navbar a{
	margin: 0 10px;
    padding: 12px 24px;
	border-radius: 4px;
	background-color: #fff;
    color: #e94d20;
    text-decoration: none;
}

.navbar a:active, a:hover{
	background-color: #e94d20;
	color: #fff;
	text-decoration: none;
}

.c1{
	text-align: center;
}

.c1 .word {
	font-size: 106px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: -1px;
	text-transform: uppercase;
}

.c1 input {
	border-width: 0 0 8px;
	border-style: solid;
	display: inline-block;
	width: 60%;
	height: 114px;
}

.c1 button {
	font-size: 16px;
    padding: 22px 41px 21px;
    width: auto;
    border-radius: 4px;
    background-color: #fff;
    color: #e94d20;
    text-transform: none;
    text-decoration: none;
    border: 0;
}